// if adding new windows, add them to this file on line 185, compile (can use sassmeister.com) and replace in main.css


// custom colors
$iron: #263238;
$blush: #F5C8BF;
$rose: #D19487;
$mauve: #B2738E;
$slate: #577783;
$mint: #8BB29A;
$oak: #D1AE87;
$grey: #C5C1C6;
$g1: lighten($grey, 10%);
$g2: lighten($grey, 2%);
$g3: darken($grey, 15%);
$hi: $blush;
$wh: #fcfcfc;
$bl: $iron;
$bg: #fbe6e2;

// url
$url: "https://assets.codepen.io/345377/";

// arrows
$up: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAMElEQVQokWP8//8/AymAiSTVA6dBzdgCp8cwNMAU49LEhE0xPpuY8EliE2ccBvEAAGLfEQE9MAhjAAAAAElFTkSuQmCC';
$dn: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAOklEQVQokWP8//8/AymAiSTVdNHAAmOoGVvg9MytsycYsdnAiEUthji6k9A1YRiCzQ+MaDSq5DCIBwDz6goZAxDEewAAAABJRU5ErkJggg==';
$lt: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAPUlEQVQokWP8//8/AymAiSTVhDSoGVtgWI9TAzbFODXgUoxVAz7FWDXcOnuCkSQNhDTh9DQuTYwDG3HYAACS4BOhZHfptgAAAABJRU5ErkJggg==';
$rt: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAWElEQVQokWP8//8/AymAiSTVDAwMLOgCasYW/xkYGBhh/FtnTxBlA053Ymjg/vcTryYMDV+Z2PHahNPTUJsY0cVxavjKxI6hGJ8GrIoZGBgYGGkecSRrAABJOBMT7b9GFQAAAABJRU5ErkJggg==';
$re: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==';
$x: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOHB4IiBoZWlnaHQ9IjdweCIgdmlld0JveD0iMCAwIDggNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgPHBvbHlnb24gc3Ryb2tlPSJub25lIiBmaWxsPSIjMjYzMjM4IiBwb2ludHM9IjMgMyAyIDMgMiAyIDEgMiAxIDEgMCAxIDAgMCAyIDAgMiAxIDMgMSAzIDIgNSAyIDUgMSA2IDEgNiAwIDggMCA4IDEgNyAxIDcgMiA2IDIgNiAzIDUgMyA1IDQgNiA0IDYgNSA3IDUgNyA2IDggNiA4IDcgNiA3IDYgNiA1IDYgNSA1IDMgNSAzIDYgMiA2IDIgNyAwIDcgMCA2IDEgNiAxIDUgMiA1IDIgNCAzIDQiPjwvcG9seWdvbj4KPC9zdmc+';
$y: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iN3B4IiBoZWlnaHQ9IjdweCIgdmlld0JveD0iMCAwIDcgNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxwb2x5Z29uIHN0cm9rZT0ibm9uZSIgZmlsbD0iIzI2MzIzOCIgcG9pbnRzPSI0IDYgMyA2IDMgNyAyIDcgMiA2IDEgNiAxIDUgMCA1IDAgMiAxIDIgMSAzIDIgMyAyIDQgMyA0IDMgMyA0IDMgNCAyIDUgMiA1IDEgNiAxIDYgMCA3IDAgNyAzIDYgMyA2IDQgNSA0IDUgNSA0IDUiPjwvcG9seWdvbj4KPC9zdmc+';
$o: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNnB4IiBoZWlnaHQ9IjZweCIgdmlld0JveD0iMCAwIDYgNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxwb2x5Z29uIHN0cm9rZT0ibm9uZSIgZmlsbD0iIzI2MzIzOCIgcG9pbnRzPSI1IDAgNSAxIDYgMSA2IDUgNSA1IDUgNiAxIDYgMSA1IDAgNSAwIDEgMSAxIDEgMCI+PC9wb2x5Z29uPgo8L3N2Zz4=';
$q: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNnB4IiBoZWlnaHQ9IjlweCIgdmlld0JveD0iMCAwIDYgOSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KPGcgZmlsbD0iIzFBMkMzNCI+Cjxwb2x5Z29uIHBvaW50cz0iMyA0IDMgMyA0IDMgNCAxIDIgMSAyIDMgMCAzIDAgMSAxIDEgMSAwIDUgMCA1IDEgNiAxIDYgMyA1IDMgNSA0IDQgNCA0IDYgMiA2IDIgNCI+PC9wb2x5Z29uPgo8cmVjdCB4PSIyIiB5PSI3IiB3aWR0aD0iMiIgaGVpZ2h0PSIyIj48L3JlY3Q+CjwvZz4KPC9zdmc+';

// mixins
@mixin ch($c: $g2, $s: 1px, $b: $wh) {
    background-color: $b;
    background-image: linear-gradient(45deg, $c 25%, transparent 25%, transparent 75%, $c 75%, $c),
        linear-gradient(45deg, $c 25%, transparent 25%, transparent 75%, $c 75%, $c);
    background-size: $s*2 $s*2;
    background-position: 0 0, $s $s;
}

@mixin bt($w, $d: default, $c: true) {
    @include sh($w, $d);

    @if $c ==true {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: $w*.5;
    }

    @else {
        padding: $w*2;
    }

    z-index: 4;
    background: $g2;
}

@mixin sh($w, $d: default) {
    @if $d ==default {
        box-shadow: inset #{-$w*.5} #{-$w*.5} 0 0 $bl,
        inset #{$w*.5} #{$w*.5} 0 0 $wh,
        inset #{-$w} #{-$w} 0 0 $g3,
        inset $w $w 0 0 $g1;
    }

    @else if $d ==window {
        box-shadow: inset #{-$w*.5} #{-$w*.5} 0 0 $bl,
        inset #{$w*.5} #{$w*.5} 0 0 $g1,
        inset #{-$w} #{-$w} 0 0 $g3,
        inset $w $w 0 0 $wh;
    }

    @else if $d ==button {
        box-shadow: inset #{-$w*.5} #{-$w*.5} 0 0 $bl,
        inset #{$w*.5} #{$w*.5} 0 0 $wh,
        inset #{-$w} #{-$w} 0 0 $g3,
        inset $w $w 0 0 $g2;
        padding-bottom: $w*.5;
        padding-right: $w*.5;
    }

    @else if $d ==button-reverse {
        box-shadow: inset #{-$w*.5} #{-$w*.5} 0 0 $wh,
        inset #{$w*.5} #{$w*.5} 0 0 $bl,
        inset #{-$w} #{-$w} 0 0 $g2,
        inset $w $w 0 0 $g3;
        padding-bottom: $w*.5;
        padding-right: $w*.5;
    }

    @else if $d ==button-strong {
        box-shadow: inset #{-$w} #{-$w} 0 0 $bl,
        inset #{$w*.5} #{$w*.5} 0 0 $bl,
        inset #{-$w*1.5} #{-$w*1.5} 0 0 $g3,
        inset $w $w 0 0 $wh;
        padding-bottom: $w*.5;
    }

    @else if $d ==button-strong-pressed {
        box-shadow: inset #{-$w*.5} #{-$w*.5} 0 0 $bl,
        inset #{$w*.5} #{$w*.5} 0 0 $bl,
        inset #{-$w} #{-$w} 0 0 $g3,
        inset $w $w 0 0 $g3;
        padding-bottom: $w*.5;
    }

    @else if $d ==inside {
        box-shadow: inset #{-$w*.5} #{-$w*.5} 0 0 $wh,
        inset #{$w*.5} #{$w*.5} 0 0 $g3,
        inset #{-$w} #{-$w} 0 0 $g2,
        inset $w $w 0 0 $bl;
        padding: $w;
    }

    @else if $d ==inset {
        box-shadow: inset #{-$w*.5} #{-$w*.5} 0 0 $wh,
        inset #{$w*.5} #{$w*.5} 0 0 $g3;
    }

    @else if $d ==hide {
        box-shadow: inset #{-$w*.5} 0 0 0 $bl,
        inset #{$w*.5} #{$w*.5} 0 0 $wh,
        inset #{-$w} 0 0 0 $g3,
        inset $w $w 0 0 $g1;
    }

    @else if $d ==fieldset {
        box-shadow: inset #{-$w*.5} #{-$w*.5} 0 0 $wh,
        inset #{$w*.5} #{$w*.5} 0 0 $g3,
        inset #{-$w} #{-$w} 0 0 $g3,
        inset $w $w 0 0 $wh;
    }
}

@mixin nb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin fl {
    &:first-letter {
        text-decoration: underline;
    }
}

@mixin li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 116px;

    &:before,
    &:after {
        width: 48px;
        height: 48px;
    }

    &:before {
        margin-bottom: 6px;
    }

    &:after {
        left: 36px;
    }

    span {
        padding: 1px;
        border: 1.5px solid transparent;
    }
}

@mixin ta {
    @include bt(3px, button-reverse);
    @include ch($wh, 1.5px, transparent);
    justify-content: flex-start;
}


$windows: welcome, computer, recycle-bin, dreams, dream-1, dream-2, dream-3, dream-4, artist-interview, curatorial-statement, draft-1, draft-2, draft-3, draft-4, egg-1, egg-2, egg-3, egg-4, egg-5, egg-6, egg-7;

@each $window in $windows {
    ##{$window} {
        &:checked~main {
            #window-#{$window} {
                will-change: transform;
                opacity: 1;
                visibility: visible;
                z-index: 2;
            }

            .tab-#{$window} {
                display: flex;
            }

            .menu .label-#{$window} {
                pointer-events: none;
            }
        }

        &.active~##{$window}-minimize:not(:checked)~main,
        &.active.no-tab~main {
            #window-#{$window} {
                z-index: 10;

                .window-nav {
                    background-color: red;
                }
            }

            .window[data-window]:not(#window-#{$window}) {
                z-index: 2;
            }

            .tab-#{$window} label {
                @include ta;
            }

            .activate:not(.tab-#{$window} .activate) {
                z-index: 1;
            }

            .tab label:not(.tab-#{$window} label) {
                z-index: 0;
            }
        }
    }

    ##{$window}-minimize {
        &:active~main #window-#{$window} .window-inside {
            .minimize {
                @include sh(3px, button-reverse);
            }
        }

        &:checked~main #window-#{$window} {
            transform: scale(0);
        }
    }

    ##{$window}-maximize {
        &:active~main #window-#{$window} .window-inside {
            .maximize {
                @include sh(3px, button-reverse);
            }
        }

        &:checked~main #window-#{$window} {
            left: unset !important;
            top: 0 !important;

            .window-inside {
                max-width: calc(100vw - 12px);
                width: calc(100vw - 12px) !important;
                height: calc(100vh - 44px - 12px) !important;

                .maximize {

                    &:before,
                    &:after {
                        width: 9px;
                        height: 9px;
                    }

                    &:before {
                        visibility: visible;
                        top: 3px;
                        right: 6px;
                    }

                    &:after {
                        bottom: 4px;
                        left: 4px;
                    }
                }
            }
        }
    }
}